/* Write your styles here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

form{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
   
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;  
    background-color: black;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  nav .nav-items a {
    margin: 0 1rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
main{
    margin: 20px;
}
form p{
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

form input{
    margin-bottom: 25px;
    line-height: 30px;
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 10px;
}

form button{
    width: 150px;
    height: 40px;
    background-color: black;
    color:white;
    margin-top: 10px;
    font-size: 1rem;

}
#logout-btn{
    cursor: pointer;
}